### Ingest data

In [ ]:
import pandas as pd

In [ ]:
!pip install mysql-connector

In [ ]:
!pip install pymysql

In [ ]:
df=pd.read_excel('DEM_DATASET.xlsx')
df.head()

### Check missing values

In [ ]:
df.isnull().values.any()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns.values

### Load to MySQL database in AWS Cloud

In [ ]:
user="<your user name>"
password="<your password>"
database_url="<database_url>"

In [ ]:
DATABASE_URL = f"mysql+pymysql://{user}:{password}@{database_url}:3306/mydb"

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(DATABASE_URL)

In [ ]:
df.to_sql('user_data', con=engine)

### Query data from the database

In [ ]:
from sqlalchemy import text

# Loop through every row in table 
with engine.connect() as connection:
    query = text("SELECT * FROM user_data limit 10")
    userdata = connection.execute(query)
    for user in userdata:
        print(user["first_name"])